*{
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

body {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.575);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:  url("images/landing_homepage_images/1.jpg");
}

a{
  text-decoration: none;
  color: #ffff;
}

ul{
  display: flex;
  padding-inline-start: 10px;

}

li{
  list-style-type: none;
}

h2{
  margin: 0px;
}

h1{
  color: #d80016;
}
/*-----------------------argumentos do Header-----------------------*/

#nav-bar {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  text-align: center;
  z-index: 100;
  outline: 2px solid rgb(255, 255, 255);
}

.nav-button{
  cursor: pointer;
  font-family: fantasy;
  font-size: 24px;
  text-align: center;
  transition:all 0.25s ease-out;
  display: inline;
  margin: 10px 20px 5px 20px;
}

#logo{
  font-family: fantasy;
  font-size: 50px;
  width: 300px;
  margin: 0px;
  color: #d80016;
  transition:all 0.25s ease-out;
}

#logo:hover{
  transform:scale(1.03) scale(1);
  transition: all 0.1s;
  -moz-transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
}

/*-----------------------argumentos da HomeView-----------------------*/

#home-view{
    width: 50em;
    height: 20em;
    display: flex;
    position: absolute;
    width: 50em;
    height: 30em;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-left: 10em;
    /*background-color: rgba(0, 0, 0, 0.397);
    outline: 2px solid rgb(255, 112, 112);
    border-radius: 30px;
    box-shadow: 1px 1px 50px 1px rgba(255, 0, 0, 0.692);*/
  }

#container-centro{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30em;
  height: auto;
  color: white;
  background-color: transparent;
  margin-right: 5em;
  transition: all 0.1s; ;
  animation: fade-in 0.5s;
}

#button-start {
  cursor: pointer;
  outline: 2px solid rgb(252, 221, 221);
  box-shadow: 1px 1px 15px 1px rgba(255, 255, 255, 0.692);
  color: rgb(247, 235, 236);
  border-radius: 4px;
  font-family: fantasy;
  font-size: 24px;
  text-align: center;
  padding: 10px 20px 10px 20px;
  transition:all 0.25s ease-out;
}

#button-start:hover {
  transform: scale(1.03);
  transition: all 0.1s;
  -moz-transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
  color: #d80016;
  outline-color: #d80016;
  box-shadow: 1px 1px 20px 1px rgba(255, 0, 0, 0.692);

}


#titulo{
  font-family: fantasy;
  font-size: 130px;
  align-self: center;
  width: 300px;
  height: auto;
  margin: 0px;
  color: #d80016;
  animation: deslizar 1s;
  transition:all 0.25s ease-out;
}

#titulo:hover{
  transform:scale(1.03);
  transition: all 0.1s;
  -moz-transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
  cursor: default;
}
/*-----------------------argumentos do Login-----------------------*/

.textfield{
  background-color: rgba(0, 0, 0, 0.397);
  border-style: none;
  width: 250px;
  height: 30px;
  color: #ffff;
  font-size: large;
  font-family: fantasy;
  letter-spacing: 2px;
  margin-top: 5px;
}

.submit{
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.397);
  color: #fff;
  font-family: fantasy;
  transition:all 0.25s ease-out;
  font-size: large;
  border: none;
  cursor: pointer;
}

.submit:hover {
  transform: scale(1.03);
  transition: all 0.1s;
  -moz-transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
  color: #d80016;
  outline: 2px solid#d80016;
}
/*-----------------------argumentos do Corpo-----------------------*/
#corpo{
    display: flex;
    width: 100%;
    margin-top: 125vh;
    background-color: rgb(0, 0, 0);
    box-shadow: 1px 1px 50px 30px black;
    color: white;
    text-align: center;
    justify-content: center;
  }

#parag{
  margin-left: 100px;
  color: #ffffff;
  font-size: 24px;
  position: relative;
}

#bola{
  margin-top: 20px;
  margin-left: 200px;
  margin-bottom: 30px;
  width: 500px;
  height: 300px;
  border-radius: 0px 60px 0px 60px;
  border: 5px solid #ffffff;
  box-shadow: 1px 1px 20px 1px rgba(255, 0, 0, 0.692);
  background-image:  url("images/landing_homepage_images/");
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*-----------------------argumentos do Footer-----------------------*/

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  z-index: 100;
}

/*-----------------------Animações-----------------------*/

@keyframes deslizar{

  0% {
    transform: translateX(-5em);
    opacity: 0%;
  }

  100% {
    transform: translateX(0);
    opacity: 100%;
}

}

@keyframes fade-out{
  0% {
    opacity: 100%;
  }
  100%{
    opacity: 0%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100%{
    opacity: 100%;
  }
  
}



